@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --tradewind: #55AD9B;
    --pepeermint: #D8EFD3;
    --vistaBlue: #95D2B3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Courier New', Courier, monospace,sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--tradewind);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.buttons-container{
    max-width: 100%;
}

.btn-sounds{
    padding: 16px 38px;
    border-radius: 10px;
    border: none;
    background-color: var(--pepeermint);
    font-weight: 500;
    font-size: 16px;
    margin: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.btn-sounds:hover{
    background-color: var(--vistaBlue);
}

@media screen and (max-width: 767px) {
    .buttons-container{
        display: flex;
        flex-direction: column;
    }
    .btn-sounds:hover{
        background-color: var(--pepeermint);
    }
  }